nav{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

    -webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	background-color: rgb(245, 217, 11);
}
nav ul {
	list-style: none;
	padding: 0;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	width: 100%;
}

 li {
	text-align: center;
	width: 100%;
}

 li a {
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: xx-large;
}

li a:hover {
	color: black;
	background: rgb(243, 229, 119);
	border-radius: 3px;
}

 li a:active {
	color:rgb(243, 229, 119);
	background: black;

}
.logo{
    display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: xx-large;
}

